@import "tailwindcss";

@font-face {
  font-family: 'athauss';
  src: url('/athausstrial-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: 'athauss', arial, helvetica, sans-serif;
}

:root {
  --background: hsl(210, 11%, 98%);
  --foreground: hsl(210, 11%, 15%);

  --gray-1: hsl(210, 17%, 95%);
  --gray-2: hsl(210, 16%, 93%);
  --gray-3: hsl(210, 14%, 89%);
  --gray-4: hsl(210, 14%, 83%);
  --gray-6: hsl(210, 7%, 56%);
  --gray-7: hsl(210, 9%, 31%);

  --primary-100: hsl(240, 95%, 91%);
  --primary-200: hsl(241, 98%, 83%);
  --primary-300: hsl(241, 97%, 74%);
  --primary-400: hsl(241, 97%, 64%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-gray-1: var(--gray-1);
  --color-gray-2: var(--gray-2);
  --color-gray-3: var(--gray-3);
  --color-gray-4: var(--gray-4);
  --color-gray-6: var(--gray-6);
  --color-gray-7: var(--gray-7);

  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

button {
  cursor: pointer;
}
